html {
    font-size: 62.5%;
}
body {
    background-color: #236746;
    font-family:  "Helvetica Neue", Helvetica, sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 5rem;
}

section {
    background-color: white;
    width: 32rem;
    border-radius: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}

h1  {
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    font-size: 3rem;
}
h3 {
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    font-size: 1.5rem;
    color: gray;

}
form {
    display: flex;
    flex-direction: column;
    
}
label {
    font-size: 1.2rem;
    margin-block-end: 0.5rem;
    color: gray;
}

i {
    font-size: large;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

input {
    outline: none;
    font-size: 2rem;
    border: none;
    flex-grow: 1;
}
button {
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: fit-content;
    background-color: #ff7f50;
    border: none;
    color: white;
    padding: 1rem 10rem;
    border-radius: 0.5rem;
    
}
p {
    font-size: 1.5rem;
    margin: 2rem 0;
    color: white;
}
section p {
    color: gray;
    font-size: 1.5rem;
    text-align: center;
}
a {
    text-decoration: none;
    color: #ff7f50;
}
.input {
    display: flex;
    margin-block-end: 2rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}

@media only screen and (max-width: 425px) {
    section {
        width: 100%;
        border-radius: 0;
    }
}


